button{
	display:block;
	padding:0;
	overflow:hidden;
	height:50px;
	width: 200px;
	border: 1px solid #fff;
	background-color:rgba(0,0,0,0);
	margin: 0 auto;
	/*margin-top: 10px;*/
}

button > ul {
	margin-top:0;
	padding:0;
	list-style:none;
	-webkit-transition:margin-top .45s ease-in-out;
	-moz-transition:margin-top .45s ease-in-out;
	-o-transition:margin-top .45s ease-in-out;
	transition:margin-top .45s ease-in-out;
}

button > ul > li{
	display:block;
	height:55px;
	padding:1em;
}
