html {
	text-align: center;
}

body {
	background-color: rgba(42,42,42,1);
	color: rgba(255,255,255,1);
}

a {
	color: rgb(26, 217, 255);
}

a:hover {
	text-decoration: none;
}

#me-pic {
	display: block;
	margin: auto;
	background-image: url('../images/me1_400.png');
	border-radius: 50%;
	width:400px;
	height:400px;
	-moz-transition: background-image 1.5s ease-in-out;
	-webkit-transition: background-image 1.5s ease-in-out;
	-o-transition: background-image 1.5s ease-in-out;
	transition: background-image 1.5s ease-in-out;
}

#me-pic:hover {
	background-image: url('../images/me2_400.png');
	border-radius: 50%;
}

.content {
	margin: auto;
	text-align: center;
}
